<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title})">
    <title>Formulario de usuario</title>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav th:replace="base :: common_navigation_menu"></nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!--<h1 class="page-header">Configuración de usuario</h1>-->
                    <h1 class="page-header"><span th:text="${propositoFormulario}"></span></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <form role="form">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Información del usuario
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <fieldset>
                                            <div class="form-group">
                                                <label for="FormUsuarioNombre">Nombre</label>
                                                <input class="form-control" name="FormUsuarioNombre"
                                                       id="FormUsuarioNombre" type="text"
                                                       th:value="${usuario.nombre}">
                                            </div>
                                            <div class="form-group">
                                                <label for="FormUsuarioEdad">Edad</label>
                                                <input class="form-control" name="FormUsuarioEdad"
                                                       id="FormUsuarioEdad" type="text"
                                                       th:value="${usuario.edad}">
                                            </div>
                                            <div id="telefonos-container">
                                                <div class="telefono-item"
                                                     th:each="telefono, estado : ${telefonos}">
                                                    <hr th:if="${estado.index > 0}">
                                                    <h4>
                                                        Teléfono
                                                        <span th:text="${estado.index + 1}"></span>
                                                    </h4>

                                                    <div class="form-group">
                                                        <label>Tipo teléfono</label>
                                                        <input class="form-control"
                                                               name="FormTelefonoTipo"
                                                               type="text"
                                                               th:value="${telefono.tipoTelefono}">
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Lada</label>
                                                        <input class="form-control"
                                                               name="FormTelefonoLada"
                                                               type="text"
                                                               th:value="${telefono.lada}">
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Número</label>
                                                        <input class="form-control"
                                                               name="FormTelefonoNumero"
                                                               type="text"
                                                               th:value="${telefono.numero}">
                                                    </div>

                                                    <button type="button"
                                                            class="btn btn-danger btn-sm eliminarTelefono">
                                                        Eliminar teléfono
                                                    </button>
                                                </div>
                                            </div>

                                            <br>
                                            <button type="button"
                                                    id="agregarTelefono"
                                                    class="btn btn-success">
                                                Agregar teléfono
                                            </button>

                                            <div class="form-group">
                                                <input name="FormUsuarioId"
                                                       id="FormUsuarioId" type="hidden"
                                                       th:value="${usuario.idUsuario}">
                                            </div>
                                        </fieldset>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-success alert-dismissible col-lg-8" id="successModalMessage">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span id="successMessage"></span>
                        </div>
                        <div class="alert alert-danger alert-dismissible col-lg-8" id="errorModalMessage">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span id="errorMessage"></span>
                        </div>
                        <!-- /.panel -->
                        <button type="button" name="guardarUsuario" id="guardarUsuario" class="btn btn-primary btn-lg btn-block">Guardar</button>
                        <br/>&nbsp;
                    </form>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<footer th:replace="base :: common_footer(~{::script})">
    <script type="text/javascript">
        $(document).ready(function() {

            $("#errorModalMessage").hide();
            $("#successModalMessage").hide();

            function actualizarTitulos() {
                $(".telefono-item").each(function(index) {
                    $(this).find("h4").text("Teléfono " + (index + 1));
                });
            }

            $("#agregarTelefono").click(function() {
                var nuevoTelefono = `
                    <div class="telefono-item">
                        <hr>
                        <h4>Teléfono</h4>

                        <div class="form-group">
                            <label>Tipo teléfono</label>
                            <input class="form-control"
                                   name="FormTelefonoTipo"
                                   type="text">
                        </div>

                        <div class="form-group">
                            <label>Lada</label>
                            <input class="form-control"
                                   name="FormTelefonoLada"
                                   type="text">
                        </div>

                        <div class="form-group">
                            <label>Número</label>
                            <input class="form-control"
                                   name="FormTelefonoNumero"
                                   type="text">
                        </div>

                        <button type="button"
                                class="btn btn-danger btn-sm eliminarTelefono">
                            Eliminar teléfono
                        </button>
                    </div>
                `;

                $("#telefonos-container").append(nuevoTelefono);
                actualizarTitulos();
            });

            $(document).on("click", ".eliminarTelefono", function() {
                if ($(".telefono-item").length > 1) {
                    $(this).closest(".telefono-item").remove();
                    actualizarTitulos();
                }
            });

            $("#guardarUsuario").click(function() {

                $("#errorModalMessage").hide();
                $("#successModalMessage").hide();

                var datos = {
                    FormUsuarioId:
                        $("input[name=FormUsuarioId]").val(),

                    FormUsuarioNombre:
                        $("input[name=FormUsuarioNombre]").val(),

                    FormUsuarioEdad:
                        $("input[name=FormUsuarioEdad]").val(),

                    FormTelefonoTipo:
                        $("input[name=FormTelefonoTipo]").map(function() {
                            return $(this).val();
                        }).get(),

                    FormTelefonoLada:
                        $("input[name=FormTelefonoLada]").map(function() {
                            return $(this).val();
                        }).get(),

                    FormTelefonoNumero:
                        $("input[name=FormTelefonoNumero]").map(function() {
                            return $(this).val();
                        }).get()
                };

                $.ajax({
                    type: "POST",
                    traditional: true,
                    data: datos,
                    url: "/guardar-usuario",

                    success: function() {
                        $("#successMessage")
                            .text("Usuario guardado correctamente.");

                        $("#successModalMessage").show();
                    },

                    error: function(XMLHttpRequest) {

                        if (XMLHttpRequest.responseJSON
                            && XMLHttpRequest.responseJSON.messages) {

                            $("#errorMessage").text(
                                "ERROR en los siguientes campos: " +
                                XMLHttpRequest.responseJSON.messages.join(", ")
                            );

                        } else {
                            $("#errorMessage").text(
                                "Ocurrió un error al guardar el usuario."
                            );
                        }

                        $("#errorModalMessage").show();
                    }
                });
            });

            actualizarTitulos();
        });
    </script>
</footer>
</body>
</html>
